.mywork-title {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 25px;

}

h1 {
    display: flex;
    justify-content: center;
   
}


.project-images {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

h3 {
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.project-1-img img {
    width: 400px;
    height: 300px;
    border: 4px solid #da7c25;
    margin-top: 15px;
    
}

.project-2-img img {
width: 400px;
height: 300px;
border: 4px solid #b923e1;
margin-top: 15px;
}

.project-3-img img {
    width: 400px;
    height: 300px;
    border: 4px solid #da7c25;
    margin-top: 15px;
}